{% extends 'base.html.twig' %}

{% block body %}

    {% block header %}
        <!-- Navigation -->
        {%  include '@AppBundle/views/header.html.twig' %}
    {% endblock %}

        <!-- Formulaire -->
    <main id="mainForm">
        {% block fos_user_content %}{% endblock fos_user_content %}
        {% if app.request.attributes.get('_route') == "fos_user_profile_show" %}
                <a class="btn btn-warning" href="{{ path('fos_user_profile_edit') }}">Modifier profil</a>
        {% elseif app.request.attributes.get('_route') == "fos_user_profile_edit" %}
            <a class="btn btn-warning" href="{{ path('fos_user_change_password') }}">Changez son mot de passe</a>
        {% endif %}
    </main>

    {% block footer %}
        {%  include '@AppBundle/views/footer.html.twig' %}
    {% endblock %}
{% endblock %}