<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Crowdin Project{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 
                '@AppBundle/views/css/bootstrap.css'
                '@AppBundle/views/css/styles.css'
                filter='cssrewrite' output='@AppBundle/views/css/compiled/app.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        {% javascripts output='@AppBundle/views/js/compiled/finalScript.js'
            '@AppBundle/views/css/fontawesome/svg-with-js/js/fontawesome-all.js'
            '@AppBundle/views/js/scripts.js'
        %}
             <script defer src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        
        {% block body %}
            {% block header %}{% endblock %}
            {% block main %}{% endblock %}
            {% block footer %}{% endblock %}
        {% endblock %}

    {% javascripts output='@AppBundle/views/js/compiled/app.js'
        '@AppBundle/views/js/jquery-3.2.1.js'
        '@AppBundle/views/js/bootstrap.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    </body>
</html>
