{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}
        <!-- Navigation -->
        {%  include '@AppBundle/views/header.html.twig' %}
    {% endblock %}
    {% block main %}
        <main id="mainCategoy" class="container">
            {% if (categoryname) %}
                <h1>Categorie : {{ categoryname }}</h1>
            {% endif %}

            <div class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom du fichier</th>
                        <th>Nom de l'utilisateur</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if (filesUpload) %}
                        {% set counter = 1  %}
                        {% for file in filesUpload %}
                            <tr>
                                <th scope="row">{{ counter }}</th>
                                {%  set counter = counter + 1 %}
                                <td><a href="{{ path('appbundle_fileContent', { 'idFile' : file.id }) }}">{{ file.filename }}</a></td>
                                <td>{{ file.user.username }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </main>
    {% endblock %}
    {% block footer %}
        {% include '@AppBundle/views/footer.html.twig' %}
    {% endblock %}
{% endblock %}