{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}
       <!-- Navigation -->
      {%  include '@AppBundle/views/header.html.twig' %}
    {% endblock %}
    {% block main %}
        <main id="mainDashBoard" class="container">
            <div class="row">
                <a href="#" id="addFile" class="col btn btn-secondary">Ajouter un fichier</a>
            </div>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom du fichier</th>
                            <th>Categorie</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if (filesUpload) %}
                        {% set counter = 1  %}
                        {% for file in filesUpload %}
                            <tr>
                                <th scope="row">{{ counter }}</th>
                                {%  set counter = counter + 1 %}
                                <td>{{ file.filename }}</td>
                                <td>{{ file.category.categoryname }}</td>
                                <td class="redRemove"><a href="{{ path('appbundle_removeFile', {'idFile' : file.id}) }}">X</a></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
            {{ form_start(form) }}
                {{ form_widget(form) }}

                <button type="submit" class="btn btn-secondary">Envoyer</button>
            {{ form_end(form) }}
        </main>
    {% endblock %}
    {% block footer %}
        {% include '@AppBundle/views/footer.html.twig' %}
    {% endblock %}
{% endblock %}