{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}
        <!-- Navigation -->
        {%  include '@AppBundle/views/header.html.twig' %}
    {% endblock %}
    {% block main %}
        <main class="container">
            <h2 id="changeName">Fichier : {{ fileContent[0].file.filename }}</h2>
            <h5>Uploader par : {{ fileContent[0].file.user.username }}</h5>
            {% for content in fileContent %}
                <div>
                    <label for="{{ content.cles }}">{{ content.cles }}</label>
                    <input type="text" id="fileContent" name="{{ content.cles }}">
                </div>
            {% endfor %}
            <input class="comingSoon" type="submit" value="Envoyer vos traductions">
        </main>
    {% endblock %}
    {% block footer %}
        {% include '@AppBundle/views/footer.html.twig' %}
    {% endblock %}
{% endblock %}