<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
    <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
            <li class="list-inline-item">
            <a class="comingSoon" href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
            <a class="comingSoon" href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
            <a class="comingSoon" href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
            <a class="comingSoon" href="#">Privacy Policy</a>
            </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; ETNA 2018 project with Symfony & Bootstrap. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
            <a class="comingSoon" href="#">
                <i class="fab fa-facebook-square"></i>
            </a>
            </li>
            <li class="list-inline-item mr-3">
            <a class="comingSoon" href="#">
                <i class="fab fa-twitter-square"></i>
            </a>
            </li>
            <li class="list-inline-item">
            <a class="comingSoon" href="#">
                <i class="fab fa-instagram"></i>
            </a>
            </li>
        </ul>
        </div>
    </div>
    </div>
</footer>