<header>
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="{{ path('appbundle_homepage') }}"><i class="fas fa-home"></i></a>
      {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        <div>
          <a class="btn btn-warning" href="{{ path('appbundle_dashboard') }}">Tableau de bord</a>
          <a class="btn btn-primary" href="{{ path('fos_user_profile_show') }}">Mon Profil</a>
          <a class="btn btn-danger" href="{{ path('fos_user_security_logout') }}">Se deconnecter</a>
        </div>
      {% else %}
        <a class="btn btn-primary" href="{{ path('fos_user_security_login') }}">Already register ?</a>
      {% endif %}
    </div>
  </nav>
</header>