{% extends 'base.html.twig' %}

{% block body %}
  {% block header %}
      <!-- Navigation -->
      {%  include '@AppBundle/views/header.html.twig' %}
  {% endblock %}

  {% block main %}
      <!-- Masthead -->
      <main>
        <div class="masthead text-white text-center">
          <div class="overlay"></div>
          <div class="container">
            <div class="row">
              {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <div class="col-xl-9 mx-auto">
                  <h1 class="mb-5">Bienvenue <a href="{{ path('appbundle_dashboard') }}"><span class="username">{{ app.user.username|upper }}</span></a></h1>
                </div>
                  <h3>Categories</h3>
                <div class="col-xl-9 mx-auto" id="categories">
                    {% for category in categories %}
                      <a class="btn btn-warning" href="{{ path('appbundle_categories', {'idCategory' : category.id}) }}">{{ category.categoryname }}</a>
                    {% endfor %}
                  </div>
              {% else %}
                <div class="col-xl-9 mx-auto">
                  <h1 class="mb-5">Hasellus imperdiet, sapien ac fermentum vulputate, lorem erat dapibus augue, sed ullamcorper mi lorem dignissim nunc !</h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                  <form action="{{ path('fos_user_registration_register') }}" method="POST" id="newUserName">
                    <div class="form-row">
                      <div class="col-12 col-md-9 mb-2 mb-md-0">
                        <input type="text" name="username" class="form-control form-control-lg" placeholder="Enter your nickname..." />
                      </div>
                      <div class="col-12 col-md-3">
                        <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
                      </div>
                    </div>
                  </form>
                </div>
              {% endif %}
            </div>
          </div>
        </div>

        <!-- Icons Grid -->
        <section class="features-icons bg-light text-center">
          <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                  <div class="features-icons-icon d-flex">
                    <i class="fas fa-american-sign-language-interpreting"></i>
                  </div>
                  <h3>Projet ETNA</h3>
                  <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                  <div class="features-icons-icon d-flex">
                    <i class="fas fa-laptop"></i>
                  </div>
                  <h3>Projet ETNA</h3>
                  <p class="lead mb-0">Praesent interdum facilisis dui, vel bibendum mi cursus in.</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                  <div class="features-icons-icon d-flex">
                    <i class="fas fa-microchip"></i>
                  </div>
                  <h3>Projet ETNA</h3>
                  <p class="lead mb-0">Ut vel felis et velit elementum tincidunt. Nunc rhoncus diam risus !</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    {% endblock %}
    {% block footer %}
      {% include '@AppBundle/views/footer.html.twig' %}
    {% endblock %}
{% endblock %}