body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700; }

header nav div.container a.navbar-brand {
  color: #007bff;
  font-size: 40px;
}

div#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.85);
  transition: opacity 500ms;
}

div#popup {
  margin: 70px auto;
  padding: 0 20px 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
}

div#popup p:nth-of-type(1){
  color: black;
  font-weight: bold;
  font-size: 1.5em;
  text-align: right;
}

div#popup p:nth-of-type(1):hover {
  color: red;
}

div#popup p:nth-of-type(2){
  align-self: center;
  font-size: 2em;
}

div.masthead {
  position: relative;
  background-color: #343a40;
  background: url("https://static1.squarespace.com/static/5189cd2ce4b01dba4e6a80e3/t/535ec687e4b06f620aba6231/1429839978318/image.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;

}
  div.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}
  div.masthead .container > .row { background-color: rgba(0, 123, 255, 0.3); border: 20px rgba(0,123,255, 0) solid; }
  div.masthead h1 {
    font-size: 2rem; }
  @media (min-width: 768px) {
    div.masthead {
      padding-top: 12rem;
      padding-bottom: 12rem; }
      div.masthead h1 {
        font-size: 3rem; } }

.showcase .showcase-text {
  padding: 3rem; }

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover; }

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem; } }

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem; }
  .features-icons .features-icons-item {
    max-width: 20rem; display: flex; flex-direction: column; }
    .features-icons .features-icons-item .features-icons-icon {
      height: 7rem; font-size: 90px; color: rgb(0,123,255); align-self: center;}
      .features-icons .features-icons-item .features-icons-icon i {
        font-size: 4.5rem; }
    .features-icons .features-icons-item:hover .features-icons-icon i {
      font-size: 5rem; }

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem; }
  .testimonials .testimonial-item {
    max-width: 18rem; }
    .testimonials .testimonial-item img {
      max-width: 12rem;
      box-shadow: 0px 5px 5px 0px #adb5bd; }

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("https://static1.squarespace.com/static/5189cd2ce4b01dba4e6a80e3/t/535ec687e4b06f620aba6231/1429839978318/image.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem; }
  .call-to-action .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3; }

.username {
  background-color: rgba(0, 0, 0, 0.507);
  padding: 10px;
  color: rgb(248, 104, 104);
  border-radius: 20px;
}

main#mainForm form{
  width: 500px;
  margin: 25vh auto;
}

main#mainForm form input,
main#mainForm form select {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

main#mainForm input[type=submit] {
  width: 100%;
  background-color: rgb(0,123,255);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

main#mainForm input[type=submit]:hover {
  background-color: rgb(0,60,255);
}

main#mainForm .fos_user_user_show {
  text-align: center;
  margin: 25vh auto;
}

main#mainForm div#fos_user_registration_form div, main#mainForm div#fos_user_profile_form div {
  display: flex;
  justify-content: space-between;
}
main#mainForm div#fos_user_registration_form div label, main#mainForm div#fos_user_profile_form div label {
  align-self: center;
}

main#mainForm div#fos_user_registration_form div input, main#mainForm div#fos_user_profile_form div input {
  width: 70%;
}

main#mainDashBoard div + #form {
  visibility: hidden;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem; 
  background-color: #6E6F71;
}

footer.footer div + div .list-inline {
  font-size: 50px;
}